name: Practice 1 - Linux Basics

on:
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - run: pwd
      - run: ls -la
      - run: whoami
      - run: uname -a 